<h1> HI THIS IS THE GREETING FRom Airbnb to inform that ur room has been authorized by the admin team</h1>
<%= image_tag("https://a0.muscache.com/im/pictures/2783525/31d07b2b_original.jpg?aki_policy=large",size: "30x30") %>
<h3>roomowner:</h3><%=@greeting.name%>
 