<p> this is to inform that ur room</p>
 <%=@greeting.room.name %><br/> is booked for<br/>  <%=@greeting.start_date%> to <%=@greeting.end_date%><br/></p>
please <h2>send us confirmation notification if possible</h2>